<header>
  <% if session[:username] %>
    <form action="/logout_account" method="post">
      <button type="submit">Logout</button>
    </form>
    <h1>Welcome <%= session[:username] %> !</h1>
    <h1>Signed as: <%= session[:role] %> </h1>
    <button><a href="/cart">View Cart</a></button>
  <% else %>
    <button><a href="/user/login">Login</a></button>
    <button><a href="/user/register">Register</a></button>
  <% end %>
</header>

<div id="product_page">
  <label for="tags">Select product tag:</label>
  <form id="tagsForm" action="/products/tags" method="post">
    <select id="tags" name="tag">
      <option value="all">All products</option>
      <% @tags.each do |tag| %>
        <option value="<%= tag['tag_name'] %>"><%= tag['tag_name'] %></option>
      <% end %>
    </select>
    <input type="submit" value="Sort tag">
  </form>

  <% if admin? %>
    <div class="create_button"><button><a href="/products/new">Create product</a></button></div>
  <% end %>

  <div class="product-container">
  <% @products.each do |product| %>
    <div class="product">
      <a class="product_link" href="/products/product/<%= product['id'] %>">
        <%# Ett test för mig o se om den laddar bildvägen för felsökning %>
        <%= puts "Bildväg: #{product['image_path']}" %> 
        <img class="product_img" src="<%= product['image_path'] %>" alt="<%= product['name'] %>">
        <h2 class="product_text"><%= product['name'] %></h2>
      </a>
      <p class="product_text">Price: <%= product['price'] %> SEK</p>
      <% if admin? %>
        <form action="/products/<%= product['id'] %>/delete" method="post">
          <button type="submit">Delete</button>
        </form>
      <% end %>
      <% if session[:username] %>
        <form action="/cart/add/<%= product['id'] %>" method="post">
          <button type="submit">Add to Cart</button>
        </form>
      <% end %>
    </div>
  <% end %>
</div>
