<div class="product">
    <img class="product_img"src="/<%=@product['image_path']%>" alt="<%=@product['name']%>">
    <h2><%= @product['name'] %></h2>
    <p><%= @product['description'] %></p>
    <p>Price: <%= @product['price'] %> SEK</p>
    <h2>Rating: <%=@rating%></h2>
</div>

<div class="tags">
    <h3>Tags:</h3>
<% @product_tags.each do |tag| %>
    <p><%=tag['tag_name']%></p>
<% end %>
</div>

<div class="links">
    <li>
        <ul><a href="/products">To Homepage</a></ul>
    </li>
</div>

<div class="giving-rating">
    <form action="/products/review/<%=@product['id']%>" method='post'>
        Rating: <input type="number" min = "0" max = "10" name='rating'></input><br><br>
        Review: <input type="text" name='review'></input><br><br>
        <button type="submit">Review</button>
    </form><br><br>
</div>

<div class="rating-show">
    <% @reviews.each do |review| %>
    <div class="review">
        <h2>Rating:<%=review['rating']%>/5</h2>
        <p><%=review['review']%></p>
        <a href="/reviews/<%=review['review_id']%>/delete">Delete Comment</a>
    </div>
    <% end %>
</div>